
/*background*/
body {
    background-image: url(Assets/Images/background.jpeg);
    background-attachment: fixed;
    background-size: cover;

}
/* navbar title */
.ziwang {
    background-color: teal;
}

/*article container*/
/* .container {
    background-color: lightgray;
} */

/*profile picture*/


.profilepic {
    height:200px;
    width: auto;
    float: left;
    margin-right: 20px;
}

h1 {
    color:teal;
}
/* 
p {
} */



/*footer*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: dimgray;
    border-top: 7px solid teal;
    text-align: center;
}
/*responsive for xs*/
/* @media  (max-width: 700px) {  */

/*.container{
    background-color: lightgrey;
    margin-top: 5%;
    width: 100%;
    float: ;
    margin-left: 0;
    


}
}*/

/*contact.html changes below*/
/* .form-group {
    width: 100%;
} */

.portfolio {
    height: 350px;
    width: 350px;
}